/* --------------- IMPORT ---------------*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* --------------- VARIABLES ---------------*/
$primary-color: #f49e42;
$scale: 1;
$squareSize: 3rem;
$cornerSize: calc($squareSize / $scale);
$cornerPosition: 1rem;

/* --------------- GLOBAL ---------------*/
*::-webkit-scrollbar {
  display: none;
  width: 0;
}

body {
  overflow: hidden;
}

.menu-img {
  height: 100%;
  padding: 0;
  border-radius: 5%;
}

canvas {
  z-index: 0;
  width: 100vw;
}

/* --------------- QR SCAN ---------------*/
.qrScan {
  display: flex;
  justify-content: center;
}

.scanOverlay {
  top: 0;
  left: 0;
  z-index: 1;
  box-sizing: border-box;
  border: 50px solid transparent;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* --------------- L O A D E R ---------------*/
/*  - - - - -   Animation   - - - - -  */
@keyframes dyinglight {
  15% {
    transform: scale(1.5);
  }
  50% {
    transform: rotate(-89deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

/*  - - - - -   loader   - - - - -  */
.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  /* - - loader container - - */
  &__container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transform-origin: 50% 50% 0;
    animation: dyinglight 1s ease infinite;
    backface-visibility: hidden;
  }
  /* - - loader corner - - */
  &__corner {
    &--top {
      &:before {
        border-left: 0.5rem solid;
        border-top: 0.5rem solid;
        top: -$cornerPosition;
        left: -$cornerPosition;
      }
      &:after {
        border-right: 0.5rem solid;
        border-top: 0.5rem solid;
        top: -$cornerPosition;
        right: -$cornerPosition;
      }
    }
    &--bottom {
      &:before {
        border-left: 0.5rem solid;
        border-bottom: 0.5rem solid;
        bottom: -$cornerPosition;
        left: -$cornerPosition;
      }
      &:after {
        border-right: 0.5rem solid;
        border-bottom: 0.5rem solid;
        bottom: -$cornerPosition;
        right: -$cornerPosition;
      }
    }
  }
}

.loader__corner--top:before,
.loader__corner--top:after,
.loader__corner--bottom:before,
.loader__corner--bottom:after {
  position: absolute;
  width: $cornerSize;
  height: $cornerSize;
  color: $primary-color;
  content: "";
}

#canvas-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  height: 100vh;
  appearance: none;
}

.menu {
  z-index: 1;
  position: absolute;
  border-radius: 0.5rem;
  margin: 1rem;
  margin-top: 5rem;
  width: 7rem;
  height: 80%;
  background-color: rgba(189, 189, 189, 0.7);
  overflow: scroll;
  box-shadow: 0px 2px 15px rgba($color: #000000, $alpha: 0.5);
}

.menu-item {
  margin: 1rem;
  border-radius: 0.3rem;
  position: relative;
  height: 5rem;
  width: 5rem;
  background-color: white;
  list-style: none;
  box-shadow: 0px 2px 15px rgba($color: #000000, $alpha: 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-menu {
  z-index: 1;
  position: absolute;
  top: 2rem;
  left: 2.25rem;
}
